<h1>Dashboard</h1>

<%= form_for @dashboard.new_page do |f| %>
  <%= f.text_field :url, id: 'url', placeholder: 'Save this for later...' %>
  <%= f.submit 'Add Page' %>
<% end %>

<% unless @dashboard.pages.empty? %>
  <ul id="pages">
    <%= render @dashboard.pages %>
  </ul>
<% else %>
  <p>
    Nothing to see here, yet.
  </p>
<% end %>
