header {
  margin: 0 12.5%;
  height: 50px;

  h1 {
    float: left;
  }

  nav {
    height: 100%;
    float: right;
    display: inline-block;
    vertical-align: middle;
    line-height: 50px;

    a {
      margin-right: 10px;

      &:hover {
        -webkit-transition: color 0.1s linear;
        -moz-transition: color 0.1s linear;
        transition: color 0.1s linear;
        border-bottom: 1px solid #2c5999;
      }
    }
  }
}
